services:
  postgres:
    image: postgres:17
    container_name: expense-db
    environment:
      POSTGRES_DB: expensetracker
      POSTGRES_USER: expensetracker
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  postgres_data:
